<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @hotel.id %>
</p>

<p>
  <strong>Ota channel:</strong>
  <%= @hotel.ota_channel %>
</p>

<p>
  <strong>Third party hotel:</strong>
  <%= @hotel.third_party_hotel_id %>
</p>

<p>
  <strong>Hotel brand:</strong>
  <%= @hotel.hotel_brand_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @hotel.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @hotel.address %>
</p>

<p>
  <strong>Open at:</strong>
  <%= @hotel.open_at %>
</p>

<p>
  <strong>Close at:</strong>
  <%= @hotel.close_at %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @hotel.phone %>
</p>

<p>
  <strong>Fax:</strong>
  <%= @hotel.fax %>
</p>

<p>
  <strong>Zip code:</strong>
  <%= @hotel.zip_code %>
</p>

<p>
  <strong>Is economic:</strong>
  <%= @hotel.is_economic %>
</p>

<p>
  <strong>Is apartmen:</strong>
  <%= @hotel.is_apartmen %>
</p>

<p>
  <strong>Reocar city:</strong>
  <%= @hotel.reocar_city_id %>
</p>

<p>
  <strong>City name:</strong>
  <%= @hotel.city_name %>
</p>

<p>
  <strong>City:</strong>
  <%= @hotel.city_id %>
</p>

<p>
  <strong>Business zone:</strong>
  <%= @hotel.business_zone %>
</p>

<p>
  <strong>Business zone:</strong>
  <%= @hotel.business_zone_id %>
</p>

<p>
  <strong>Attached business zone:</strong>
  <%= @hotel.attached_business_zone %>
</p>

<p>
  <strong>District:</strong>
  <%= @hotel.district %>
</p>

<p>
  <strong>District:</strong>
  <%= @hotel.district_id %>
</p>

<p>
  <strong>Baidu location:</strong>
  <%= @hotel.baidu_location %>
</p>

<p>
  <strong>Google location:</strong>
  <%= @hotel.google_location %>
</p>

<p>
  <strong>Star:</strong>
  <%= @hotel.star %>
</p>

<p>
  <strong>Credit cards:</strong>
  <%= @hotel.credit_cards %>
</p>

<p>
  <strong>Status:</strong>
  <%= @hotel.status %>
</p>

<p>
  <strong>Review count:</strong>
  <%= @hotel.review_count %>
</p>

<p>
  <strong>Review good:</strong>
  <%= @hotel.review_good %>
</p>

<p>
  <strong>Review poor:</strong>
  <%= @hotel.review_poor %>
</p>

<p>
  <strong>Review score:</strong>
  <%= @hotel.review_score %>
</p>

<p>
  <strong>Intro:</strong>
  <%= @hotel.intro %>
</p>

<p>
  <strong>Description:</strong>
  <%= @hotel.description %>
</p>

<p>
  <strong>Traffic:</strong>
  <%= @hotel.traffic %>
</p>

<p>
  <strong>Has coupon:</strong>
  <%= @hotel.has_coupon %>
</p>

<p>
  <strong>Themes:</strong>
  <%= @hotel.themes %>
</p>

<p>
  <strong>Room total:</strong>
  <%= @hotel.room_total %>
</p>

<p>
  <strong>Facilities:</strong>
  <%= @hotel.facilities %>
</p>

<p>
  <strong>Stay leave info:</strong>
  <%= @hotel.stay_leave_info %>
</p>

<p>
  <strong>Recommend level:</strong>
  <%= @hotel.recommend_level %>
</p>

<%= link_to 'Edit', edit_hotel_path(@hotel) %> |
<%= link_to 'Back', hotels_path %>
